---

export enum BlockTitleType {
    MAIN='main',
    REASONS='reasons'
}
interface Props {
    title: string;
    type:BlockTitleType
}

const { title, type } = Astro.props;
---



<h1 class={`${type===BlockTitleType.MAIN?'site_title':'reasons_title'}`}>
    <span>{title}</span>
</h1>

<style>
    .site_title {
        font-weight: 700;
        font-size: 70px;
        line-height: 78px;
        width:450px;
        letter-spacing: 0;
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-rows: repeat(3, auto);
    }
    .reasons_title{
        font-weight: 700;
        font-size: 36px;
        width:70%;
        line-height: 40px;
    }

    @media (max-width: 1024px) {
        .site_title{
            font-size: 24px;
            line-height: 24px;
        }

        .reasons_title {
           text-align: center;
        }

    }
</style>