---
interface Props {
    isCentered?: boolean;
}

const { isCentered = false } = Astro.props;
---

<button class:list={['primary_button', {'primary_button_centered': isCentered}]}>
    <slot />
</button>

<style>
    :root {
        --gradient-angle: 150deg;
    }

    .primary_button {
        padding: 14px 150px;
        height: 74px;
        background: linear-gradient(var(--gradient-angle), rgba(24, 24, 30, 0.85) 4%, rgba(28, 143, 225, 0.85) 94%);
        box-shadow: 0 10px 17px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        width: fit-content;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        box-sizing: border-box;
        font-size: 32px;
        position: relative;
        z-index: 10;
        border: none;
        color: white;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        animation: rotateGradient 5s linear infinite;
    }

    .primary_button_centered {
        align-self: center;
    }

    .primary_button:hover {
        background: linear-gradient(var(--gradient-angle), rgba(24, 24, 30, 0.9) 4%, rgba(29, 108, 200, 0.9) 94%);
        box-shadow: 0 15px 25px rgba(0, 119, 255, 0.6);
        transform: scale(1.05);
    }

    .primary_button:active {
        transform: scale(0.95);
        box-shadow: 0 5px 10px rgba(0, 119, 255, 0.4);
    }

    @keyframes rotateGradient {
        0% { --gradient-angle: 150deg; }
        2% { --gradient-angle: 157.2deg; }
        4% { --gradient-angle: 164.4deg; }
        6% { --gradient-angle: 171.6deg; }
        8% { --gradient-angle: 178.8deg; }
        10% { --gradient-angle: 186deg; }
        12% { --gradient-angle: 193.2deg; }
        14% { --gradient-angle: 200.4deg; }
        16% { --gradient-angle: 207.6deg; }
        18% { --gradient-angle: 214.8deg; }
        20% { --gradient-angle: 222deg; }
        22% { --gradient-angle: 229.2deg; }
        24% { --gradient-angle: 236.4deg; }
        26% { --gradient-angle: 243.6deg; }
        28% { --gradient-angle: 250.8deg; }
        30% { --gradient-angle: 258deg; }
        32% { --gradient-angle: 265.2deg; }
        34% { --gradient-angle: 272.4deg; }
        36% { --gradient-angle: 279.6deg; }
        38% { --gradient-angle: 286.8deg; }
        40% { --gradient-angle: 294deg; }
        42% { --gradient-angle: 301.2deg; }
        44% { --gradient-angle: 308.4deg; }
        46% { --gradient-angle: 315.6deg; }
        48% { --gradient-angle: 322.8deg; }
        50% { --gradient-angle: 330deg; }
        52% { --gradient-angle: 337.2deg; }
        54% { --gradient-angle: 344.4deg; }
        56% { --gradient-angle: 351.6deg; }
        58% { --gradient-angle: 358.8deg; }
        60% { --gradient-angle: 6deg; }
        62% { --gradient-angle: 13.2deg; }
        64% { --gradient-angle: 20.4deg; }
        66% { --gradient-angle: 27.6deg; }
        68% { --gradient-angle: 34.8deg; }
        70% { --gradient-angle: 42deg; }
        72% { --gradient-angle: 49.2deg; }
        74% { --gradient-angle: 56.4deg; }
        76% { --gradient-angle: 63.6deg; }
        78% { --gradient-angle: 70.8deg; }
        80% { --gradient-angle: 78deg; }
        82% { --gradient-angle: 85.2deg; }
        84% { --gradient-angle: 92.4deg; }
        86% { --gradient-angle: 99.6deg; }
        88% { --gradient-angle: 106.8deg; }
        90% { --gradient-angle: 114deg; }
        92% { --gradient-angle: 121.2deg; }
        94% { --gradient-angle: 128.4deg; }
        96% { --gradient-angle: 135.6deg; }
        98% { --gradient-angle: 142.8deg; }
        100% { --gradient-angle: 150deg; }
    }

    @media (max-width: 1024px) {
        .primary_button {
            padding: 10px 80px;
            height: 64px;
            font-size: 24px;
        }
    }

    @media (max-width: 660px) {
        .primary_button {
            width: 100%;
            height: 54px;
            align-self: center;
        }
    }
</style>