---
interface Props {
  href: string;
  icon: ImageMetadata;
  label: string;
  "data-contact-type": string;
  "data-contact-base": string;
}

const { href, icon, label, ...rest } = Astro.props;
---

<a href={href} class="contact-link" target="_blank" rel="noopener noreferrer" data-contact-type={rest['data-contact-type']} data-contact-base={rest['data-contact-base']} >
  <img
    src={icon.src}
    alt={`${label} icon`}
    class="icon"
    loading="lazy"
    decoding="async"
  />
  {label}
</a>

<style>
  .contact-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
    font-family: "Sansation", sans-serif;
    padding: 20px 15px;
    width: 160px;
    color: #ffffff;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    font-size: 22px;
  }

  .contact-link:hover {
    opacity: 0.8;
  }

  .icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  @media (max-width: 660px) {
    .contact-link {
      width: 175px;
      font-size: 20px;
      padding: 15px 15px;
    }
  }
</style>
