---
interface Props{
    title: string;
    content: string
}
const { title, content } = Astro.props;
---

<article class="reason_card">
    <div class="reason_title_container">
        <h2 class="reason_card_title">
            {title}
        </h2>
    </div>

    <div class="reason_card_content">
        {content}
    </div>
</article>

<style>
    .reason_title_container {
        padding: 14px 10px;
        border: 1px solid white;
        box-shadow: 0 0 3px white, 0 0 5px white, 0 0 8px white;
        width: fit-content;
        border-radius: 10px;
    }

    .reason_card {
        width: 70%;
    }

    .reason_card_title {
        width: fit-content;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 8px;
        background: linear-gradient(45deg, #9C21A7, #5D3FD3, #214bc5, #1f5fc8);
        background-size: 400% 400%;
        animation: gradientAnimation 5s ease infinite;
        white-space: nowrap;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .reason_card_content {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        padding-left: 20px;
        margin-top: 10px;
    }

    @media (max-width: 1024px) {
        .reason_card_content {
            padding-left: 0;
        }
        .reason_card_title {
            white-space: wrap;
            text-align: center;
        }
    }
    @media (max-width: 660px) {
        .reason_card_content {
            padding-left: 0;
        }
        .reason_card_title {
            font-size: 18px;
        }
    }
</style>