---
interface Props {
    videoId: string
}
const { videoId } = Astro.props;
---

<div class="video-embed-container">
    <iframe
            width="100"
            height="100"
            src={`https://www.youtube.com/embed/${videoId}`}
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            loading="lazy"
    ></iframe>
</div>

<style>
    .video-embed-container {
        position: relative;
        padding-bottom: 45%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        border-radius: 4px;
    }

    .video-embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (max-width: 1024px) {
        .video-embed-container {
            padding-bottom:60%;
        }
    }
    @media (max-width: 660px) {
        .video-embed-container {
            padding-bottom:65%;
        }
    }
</style>