---
interface Props {
    videoId: string
}
const { videoId } = Astro.props;
---

<div class="video-embed-container">
    <iframe
            width="100"
            height="100"
            src={`https://www.youtube.com/embed/${videoId}`}
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            loading="lazy"
    ></iframe>
</div>

<style>
    .video-embed-container {
      aspect-ratio: 16 / 9;
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
      overflow: hidden;
      background: #000;
      border-radius: 4px;
    }
    .video-embed-container iframe {
      width: 100%;
      height: 100%;
    }
</style>