@font-face {
    font-family: 'Sansation';
    src: url('../assets/fonts/Sansation.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('../assets/fonts/SansationBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body, button {
    font-family: 'Sansation', sans-serif;
    color: #FFFFFF;

}