---
import BenefitsCard from "../shared/components/BenefitsCard.astro";
import { BENEFITS_SECTION_DATA } from "../shared/data/benefitsSectionData";
---

<section class="benefits_section">
  {
    BENEFITS_SECTION_DATA.BENEFITS_LIST_CONTENT.map((benefit) => (
      <BenefitsCard>{benefit}</BenefitsCard>
    ))
  }
</section>

<style>
  .benefits_section {
    padding: 120px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }

  @media (max-width: 1024px) {
    .benefits_section {
      padding: 70px 20px;
    }
  }
  @media (max-width: 660px) {
    .benefits_section {
      padding: 40px 10px;
    }
  }
</style>
