---
import Button from "../shared/components/Button.astro";
import Description from "../shared/components/Description.astro";
import BlockTitle, { BlockTitleType } from "../shared/components/BlockTitle.astro";
---


<section class="main_section_container">
    <section class="main_sub_section">
        <img class="tool_img"
             src={'./tool.png'}

             alt="tool which is saling"/>
        <BlockTitle type={BlockTitleType.MAIN} title="Сверхзвуковой пескоструйный аппарат"/>
        <Description>
            Если вы ищете современное, эффективное и экономичное решение для очистки поверхностей от коррозии, старого
            лакокрасочного покрытия или других загрязнений, сверхзвуковой пескоструйный аппарат — это именно то, что вам
            нужно. Представляем вам уникальную технологию, которая сочетает в себе компактность, точность и высокую
            производительность.
        </Description>
        <footer class="main_footer">
            <Button>Заказать</Button>
        </footer>
    </section>
</section>


<style>
    .main_section_container {
        padding: 40px 0 0;
        overflow-x: clip;
    }

    .main_sub_section {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 85%;
        background-image: url("../assets/backgroundSecondary.png");
        background-size: cover;
        padding: 20px 10%;
        position: relative;
        border-radius: 8px;
    }

    .tool_img {
        position: absolute;
        height: 125%;
        right: -220px;
        top: -60px;
    }

    .main_footer {
        margin: 40px 0;
    }

    @media (max-width: 1024px) {
        .tool_img {
            right: -120px;
            top: -20px;
        }

        .main_footer {
            margin: 30px 0;
        }

    }

    @media (max-width: 660px) {
        .main_section_container {
            padding: 0;
        }

        .main_sub_section {
            width: 100%;
        }

        .tool_img {
            top: 0;
            height: 100%;
            right: -15px;
        }

        .main_footer {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
</style>
